body {
  max-width: unset !important;
  margin: 0!important;
}

main {
  display: grid !important;
  justify-content: stretch;
}

article {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 100%;
  max-width: 800px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.layout-wrapper {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.55rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  main {
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
  }
  nav > ul {
    display: block !important;
  }
  label[for='navexpander'] {
    display: none !important;
  }
}