nav {
  h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    img,
    label {
      margin: 0;
      width: 2rem;
      height: 2rem;
    }
    span {
      flex-grow: 1;
    }
  }
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    li {
      text-transform: capitalize;
      & > :not(ul) {
        display: flex;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        opacity: 0.9;
      }
      & > span {
        text-transform: uppercase;
        margin-top: 1rem;
      }
      & > a {
        &[aria-current='location'] {
          font-weight: bold;
        }
        &[aria-current='location'],
        &:hover {
          opacity: 1;
          background-color: hsla(0, 0%, 50%, 0.15);
        }
      }
      & > [aria-disabled] {
        opacity: 0.4;
      }
    }
  }
  #navexpander:checked ~ ul {
    display: none;
  }
}
