.navitem {
  display: flex;
  padding: 0.5rem 2rem 0.5rem 0;
  margin: 0;
  text-transform: capitalize;
}

a.navitem {
  color: currentColor;
  user-select: none;
}

span.navitem {
  opacity: 0.3;
}

.navlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
