@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css';

body {
  max-width: unset !important;
  margin: 0 !important;
}

main {
  display: grid !important;
  justify-content: stretch;
}

article {
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 100%;
  max-width: 800px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

@media only screen and (min-width: 1024px) {
  main {
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
  }
  nav > ul {
    display: block !important;
  }
  label[for='navexpander'] {
    display: none !important;
  }
}
