nav {
  padding: 1rem;

  header {
    width: calc(100% - 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    label {
      width: 2rem;
      height: 2rem;
    }
  }
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    li {
      & > :not(ul) {
        display: flex;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        opacity: 0.9;
      }
      .layout-nav-chapter {
        text-transform: uppercase;
        margin-top: 1rem;
        opacity: 0.5;
        font-size: 80%;
      }
      .layout-nav-page {
        &[aria-current='location'] {
          font-weight: bold;
        }
        &[aria-current='location'],
        &:hover {
          opacity: 1;
          background-color: hsla(0, 0%, 50%, 0.15);
        }
      }
      & > [aria-disabled] {
        opacity: 0.4;
      }
    }
  }
  #navexpander:checked ~ ul {
    display: none;
  }
}
